:root {
    --primary-color: #901C1C;
    --secondary-color: #DB8876;
}
body {
    font-family: "DM Sans", sans-serif;
    margin: 0 auto;
    max-width: 1440px;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: var(--primary-color);
    margin-right: 100px;
}

p {
    margin: 0;
    line-height: normal;

}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photograph-portrait{
    height: 250px;
    width: 250px;
    object-fit: cover;
    -webkit-mask: radial-gradient(circle at 50% 54%,#0000, rgba(0, 0, 0, 1) 40px,rgba(0, 0, 0, 0) 107px),
    radial-gradient(circle at center,rgba(255,255,255,1) 100px, rgba(255,255,255,0) 100px, rgba(255,255,255,0) 100%);
    mask: radial-gradient(circle at 50% 54%,#0000, rgba(0, 0, 0, 1) 40px,rgba(0, 0, 0, 0) 107px),
    radial-gradient(circle at center,rgba(255,255,255,1) 100px, rgba(255,255,255,0) 100px, rgba(255,255,255,0) 100%);
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-top: 50px;
}
.photographer-card__link {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}
.photographer-card__name {
    color: var(--secondary-color);
    font-size: 36px;
    font-weight: 400;
    line-height: 47px;
    margin: -10px 0 0;
}
.photographer-card__price {
    font-size: 9px;
    color: #757575;
}
.photographer-card__tagline {
    font-size: 10px;
    color: #000000;
    margin: 0 0 4px;
}
.photographer-card__location {
    color: var(--primary-color);
    font-size: 13px;
    margin: 0 0 4px;
}
